.wordbook {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #767676;

  .wordbook__title {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 30px;
    font-weight: 100;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
  }

  .navigation-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .pagination {
    display: flex;
    align-items: center;
    .pagination__button {
      all: unset;
      width: 25px;
      height: 25px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.1s ease-in-out;

      &_prev {
        background-image: url('/src/assets/img/svg/arrow-horizontal-left.svg');
      }

      &_next {
        background-image: url('/src/assets/img/svg/arrow-horizontal-right.svg');
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .pagination__text {
      font-weight: 100;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 640px) {
  .wordbook {
    margin: 0 10px;
    .wordbook__title {
      font-size: 36px;
    }
  }
}