.menu-button {
    background: url('../../../assets/img/svg/burger-menu.svg');
    position: absolute;
    top: 15px;
    left: 15px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
    border: none;
    padding: 10px;

    &:hover {
        transform: scale(1.2);
    }
}

