$color-dark-s: #767676;
$color-dark-m: #555555;
$color-dark-xl: #1b1b1b;
$color-light-m: #f6f6f6;

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px;
  color: $color-dark-s;
}
.auth-container--title-container {
  display: inline-block;
  padding: 3px 20px;
  background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
}
.auth-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.auth-container--title {
  z-index: 2;  
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  color: #767676;
  line-height: 70px;
}

.auth-form_input-container {
  background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
  text-align: center;
  padding: 3px 20px;
}

.auth-form--input {
  border: none;
  width: 260px;
  height: 38px;
  text-align: center;

  &::placeholder {
    font-size: 25px;
    line-height: 29px;
    font-weight: 100;
    color: $color-dark-s;
    font-family: 'Roboto';
  }
}

.auth-form--title {
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.auth-form--button {
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid #dfdfdf;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $color-dark-s;
  font-family: 'Roboto';

  &:hover {
    transform: scale(1.1);
    transition: all 0.1s;
  }
}

.auth-form--text {
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}
.error-text {
  color: $color-dark-xl;
  font-weight: 300;
}
