$color-dark-s: #767676;
$color-dark-m: #555555;
$color-dark-xl: #1b1b1b;
$color-light-m: #f6f6f6;

.menu {
  z-index: 99;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.app-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: white;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
.app-name {
  background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-top.svg') top right no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat,
    url('/src/assets/img/svg/corner-left-bottom.svg') bottom left no-repeat;
  padding: 9px 40px;

  &--text {
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
    color: #767676;
    line-height: 70px;
  }
}

.navigation-container {
  background-color: $color-light-m;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 50%;
  height: 100%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
.nav-menu--link {
  font-weight: 100;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: $color-dark-m;

  &:hover {
    color: $color-dark-xl;
    font-weight: 300;
    background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
    transition: all 0.1s;
  }
}

.nav-menu--list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.logo-container {
  background: url('../../../assets/img/svg/logo.svg');
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
}

.close-button {
  background: url('../../../assets/img/svg/button-cross.svg');
  position: absolute;
  top: 15px;
  right: 15px;
  width: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 36px;
  border: none;
  padding: 10px;

  &:hover {
    transform: scale(1.1);
    transition: all 0.1s;
  }
}
