.menu-button {
    background: url('../../../assets/img/svg/burger-menu.svg');
    position: absolute;
    top: 15px;
    left: 15px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
    border: none;
    padding: 10px;

    &:hover {
        transform: scale(1.1);
        transition: all 0.1s;
    }
}

.gamefield-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}