$color-dark-s: #767676;
$color-dark-m: #555555;
$color-dark-xl: #1b1b1b;
$color-light-m: #f6f6f6;

.game-question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 36px; 
       
}
.assumption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 36px;    

    &--text {
        padding: 5px 20px;
        background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
        url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
    }

    &--separator {
        background-image: url('../../../assets/img/svg/arrow-horizontal.svg');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
        background-color: white;
    }

   
}
.game-question--question-text {
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.game-btn-container {
    display: flex;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.question-container_btn {
    background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
    display: flex;
    padding: 10px 30px;
    padding-right: 0;
    cursor: pointer;
}
.question-container_text {
    all: unset;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        font-weight: 300;        
        transition: all 0.1s;
      }
      &:active {
        color: $color-dark-xl;
        font-weight: 300;
      }
  }

  .question-container_count {
    margin-left: 10px;
    width: 20px;
    line-height: 20px;
    text-align: center;  
    font-size: 18px;
    line-height: 0px;
    text-transform: uppercase;
}

